In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
import backtesting

In [2]:
creds = {"Authorization":"Bearer 92a263c6460d1f7f24c49727c261f9a4-7d3d8392b79c61935156ed3f656209e3"}

In [12]:
r = requests.get("https://api-fxpractice.oanda.com/v3/instruments/EUR_PLN/candles?count=5000&price=M&granularity=H1",
               headers = creds)

In [13]:
data = json.loads(r.text)

In [14]:
df=pd.json_normalize(data['candles'])

In [15]:
df

,complete,volume,time,mid.o,mid.h,mid.l,mid.c
0,True,3630,2022-03-25T04:00:00.000000000Z,4.77432,4.77521,4.77223,4.77226
1,True,3611,2022-03-25T05:00:00.000000000Z,4.77214,4.77446,4.77068,4.77398
2,True,2248,2022-03-25T06:00:00.000000000Z,4.77383,4.77420,4.76082,4.76104
3,True,3352,2022-03-25T07:00:00.000000000Z,4.76108,4.76128,4.74430,4.74855
4,True,8241,2022-03-25T08:00:00.000000000Z,4.74845,4.74930,4.73162,4.74094
...,...,...,...,...,...,...,...
4995,True,10863,2023-01-12T13:00:00.000000000Z,4.68938,4.69322,4.68475,4.68926
4996,True,8420,2023-01-12T14:00:00.000000000Z,4.68924,4.69738,4.68586,4.69422
4997,True,6366,2023-01-12T15:00:00.000000000Z,4.69422,4.69995,4.69074,4.69870
4998,True,2825,2023-01-12T16:00:00.000000000Z,4.69870,4.70252,4.69782,4.69910
4999,False,452,2023-01-12T17:00:00.000000000Z,4.69910,4.70040,4.69900,4.70000

In [ ]:
for col in df:
    df[col] = df[col].astype(float)

In [ ]:
from backtesting import Backtest, Strategy
from backtesting.lib import crossover
from backtesting.test import SMA

In [ ]:
class SmaCross(Strategy):
    
    l1 = 7
    l2 = 99
    
    def init(self):
        price = self.data.Close
        self.ma1 = self.I(SMA, price, self.l1)
        self.ma2 = self.I(SMA, price, self.l2)

    def next(self):
        if crossover(self.ma1, self.ma2):
            self.buy()
        elif crossover(self.ma2, self.ma1):
            self.sell()

In [ ]:
class SmaMR(Strategy):
    
    l = 100
    d = 5
    dc = 0.1
    
    def init(self):
        self.ma = self.I(SMA, self.data.Close, self.l)

    def next(self):
        if self.ma*(1-self.d/100) > self.data.Close:
            self.buy()
        elif self.ma*(1+self.d/100) < self.data.Close:
            self.sell()
        elif abs(self.ma - self.data.Close) < (self.dc/100)*self.ma:
            self.position.close()