In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json

In [9]:
creds = {"Authorization":"Bearer 92a263c6460d1f7f24c49727c261f9a4-7d3d8392b79c61935156ed3f656209e3"}

# Get the data from the API
r = requests.get("https://api-fxpractice.oanda.com/v3/accounts", headers=creds)
data = r.json()

# Get the account ID
account_id = data["accounts"][0]["id"]

# Get the data from the API

r = requests.get("https://api-fxpractice.oanda.com/v3/accounts/{}/instruments".format(account_id), headers=creds)
data = r.json()

# Get the list of instruments
instruments = data["instruments"]

# Get the list of instruments

instruments = [instrument["name"] for instrument in instruments]

# Get the data from the API

r = requests.get("https://api-fxpractice.oanda.com/v3/accounts/{}/pricing".format(acc]ount_id), headers=creds, params={"instruments":",".join(instruments)})
data = r.json()

# Get the list of instruments

instruments = [instrument["instrument"] for instrument in data["prices"]]
prices = [float(instrument["bids"][0]["price"]) for instrument in data["prices"]]
df = pd.DataFrame({"instrument":instruments, "price":prices})
df = df.sort_values("price", ascending=False)
df.head()

     instrument     price
29      XAU_JPY  245363.0
94     US30_USD   33079.1
101  JP225Y_JPY   27703.0
68    JP225_USD   27644.0
114    HK33_HKD   19239.5

In [8]:
data

{'errors': [{'human': 'API Key was invalid.',
   'message': 'API Key was formatted invalidly.'}]}

In [5]:
curl -H "92a263c6460d1f7f24c49727c261f9a4-7d3d8392b79c61935156ed3f656209e3" https://api-fxtrade.oanda.com/v3/accounts

SyntaxError: invalid syntax (Temp/ipykernel_58420/1950598182.py, line 1)