# Resistance/Support AND Candles Patterns

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
import backtesting
from backtesting import Backtest, Strategy
from backtesting.lib import crossover
from backtesting.test import SMA
import matplotlib.pyplot as plt

In [ ]:
creds = {"Authorization":"Bearer 92a263c6460d1f7f24c49727c261f9a4-7d3d8392b79c61935156ed3f656209e3"}
r = requests.get("https://api-fxpractice.oanda.com/v3/instruments/EUR_PLN/candles?count=5000&price=M&granularity=H1",
               headers = creds)
data = json.loads(r.text)
df=pd.json_normalize(data['candles'])
#select columns of interest
df = df[['time','mid.o','mid.h','mid.l','mid.c']]
#rename columns
df.columns = ['Time','Open','High','Low','Close']
#convert time to datetime
df['Time'] = pd.to_datetime(df['Time'])
#set time as index
df.set_index('Time', inplace=True)
#convert to float
df = df.astype(float)
df = df[['Open','High','Low','Close']]
#delete Time from index name
df.index.name = None
#rename columns
df.columns = ['open','high','low','close']
df

In [2]:
from backtesting.test import GOOG
df=GOOG
df

              Open    High     Low   Close    Volume
2004-08-19  100.00  104.06   95.96  100.34  22351900
2004-08-20  101.01  109.08  100.50  108.31  11428600
2004-08-23  110.75  113.48  109.05  109.40   9137200
2004-08-24  111.24  111.60  103.57  104.87   7631300
2004-08-25  104.96  108.00  103.88  106.00   4598900
...            ...     ...     ...     ...       ...
2013-02-25  802.30  808.41  790.49  790.77   2303900
2013-02-26  795.00  795.95  784.40  790.13   2202500
2013-02-27  794.80  804.75  791.11  799.78   2026100
2013-02-28  801.10  806.99  801.03  801.20   2265800
2013-03-01  797.80  807.14  796.15  806.19   2175400

[2148 rows x 5 columns]

In [3]:
df.columns = ['open','high','low','close', 'volume']
#delete volume column
df = df[['open','high','low','close']]
df.tail()

             open    high     low   close
2013-02-25  802.3  808.41  790.49  790.77
2013-02-26  795.0  795.95  784.40  790.13
2013-02-27  794.8  804.75  791.11  799.78
2013-02-28  801.1  806.99  801.03  801.20
2013-03-01  797.8  807.14  796.15  806.19

# Support and Resistance FUNCTIONS

In [4]:
def support(df1, l, n1, n2): #n1 n2 before and after candle l
    for i in range(l-n1+1, l+1):
        if(df1.low[i]>df1.low[i-1]):
            return 0
    for i in range(l+1,l+n2+1):
        if(df1.low[i]<df1.low[i-1]):
            return 0
    return 1

def resistance(df1, l, n1, n2): #n1 n2 before and after candle l
    for i in range(l-n1+1, l+1):
        if(df1.high[i]<df1.high[i-1]):
            return 0
    for i in range(l+1,l+n2+1):
        if(df1.high[i]>df1.high[i-1]):
            return 0
    return 1

In [5]:
length = len(df)
high = list(df['high'])
low = list(df['low'])
close = list(df['close'])
open = list(df['open'])
bodydiff = [0] * length

highdiff = [0] * length
lowdiff = [0] * length
ratio1 = [0] * length
ratio2 = [0] * length

def isEngulfing(l):
    row=l
    bodydiff[row] = abs(open[row]-close[row])
    if bodydiff[row]<0.000001:
        bodydiff[row]=0.000001      

    bodydiffmin = 0.002
    if (bodydiff[row]>bodydiffmin and bodydiff[row-1]>bodydiffmin and
        open[row-1]<close[row-1] and
        open[row]>close[row] and 
        (open[row]-close[row-1])>=-0e-5 and close[row]<open[row-1]): #+0e-5 -5e-5
        return 1

    elif(bodydiff[row]>bodydiffmin and bodydiff[row-1]>bodydiffmin and
        open[row-1]>close[row-1] and
        open[row]<close[row] and 
        (open[row]-close[row-1])<=+0e-5 and close[row]>open[row-1]):#-0e-5 +5e-5
        return 2
    else:
        return 0
       
def isStar(l):
    bodydiffmin = 0.0020
    row=l
    highdiff[row] = high[row]-max(open[row],close[row])
    lowdiff[row] = min(open[row],close[row])-low[row]
    bodydiff[row] = abs(open[row]-close[row])
    if bodydiff[row]<0.000001:
        bodydiff[row]=0.000001
    ratio1[row] = highdiff[row]/bodydiff[row]
    ratio2[row] = lowdiff[row]/bodydiff[row]

    if (ratio1[row]>1 and lowdiff[row]<0.2*highdiff[row] and bodydiff[row]>bodydiffmin):# and open[row]>close[row]):
        return 1
    elif (ratio2[row]>1 and highdiff[row]<0.2*lowdiff[row] and bodydiff[row]>bodydiffmin):# and open[row]<close[row]):
        return 2
    else:
        return 0
    
def closeResistance(l,levels,lim):
    if len(levels)==0:
        return 0
    c1 = abs(df.high[l]-min(levels, key=lambda x:abs(x-df.high[l])))<=lim
    c2 = abs(max(df.open[l],df.close[l])-min(levels, key=lambda x:abs(x-df.high[l])))<=lim
    c3 = min(df.open[l],df.close[l])<min(levels, key=lambda x:abs(x-df.high[l]))
    c4 = df.low[l]<min(levels, key=lambda x:abs(x-df.high[l]))
    if( (c1 or c2) and c3 and c4 ):
        return 1
    else:
        return 0
    
def closeSupport(l,levels,lim):
    if len(levels)==0:
        return 0
    c1 = abs(df.low[l]-min(levels, key=lambda x:abs(x-df.low[l])))<=lim
    c2 = abs(min(df.open[l],df.close[l])-min(levels, key=lambda x:abs(x-df.low[l])))<=lim
    c3 = max(df.open[l],df.close[l])>min(levels, key=lambda x:abs(x-df.low[l]))
    c4 = df.high[l]>min(levels, key=lambda x:abs(x-df.low[l]))
    if( (c1 or c2) and c3 and c4 ):
        return 1
    else:
        return 0

In [6]:
n1=2
n2=2
backCandles=30
signal = [0] * length

for row in range(backCandles, len(df)-n2):
    ss = []
    rr = []
    for subrow in range(row-backCandles+n1, row+1):
        if support(df, subrow, n1, n2):
            ss.append(df.low[subrow])
        if resistance(df, subrow, n1, n2):
            rr.append(df.high[subrow])
    #!!!! parameters
    if ((isEngulfing(row)==1 or isStar(row)==1) and closeResistance(row, rr, 150e-5) ):#and df.RSI[row]<30
        signal[row] = 1
    elif((isEngulfing(row)==2 or isStar(row)==2) and closeSupport(row, ss, 150e-5)):#and df.RSI[row]>70
        signal[row] = 2
    else:
        signal[row] = 0

In [7]:
df['signal']=signal

In [8]:
df[df['signal']==2].count()

open      29
high      29
low       29
close     29
signal    29
dtype: int64

In [9]:
df.columns = ['Open', 'High', 'Low', 'Close', 'signal']
df
df

              Open    High     Low   Close  signal
2004-08-19  100.00  104.06   95.96  100.34       0
2004-08-20  101.01  109.08  100.50  108.31       0
2004-08-23  110.75  113.48  109.05  109.40       0
2004-08-24  111.24  111.60  103.57  104.87       0
2004-08-25  104.96  108.00  103.88  106.00       0
...            ...     ...     ...     ...     ...
2013-02-25  802.30  808.41  790.49  790.77       0
2013-02-26  795.00  795.95  784.40  790.13       2
2013-02-27  794.80  804.75  791.11  799.78       0
2013-02-28  801.10  806.99  801.03  801.20       0
2013-03-01  797.80  807.14  796.15  806.19       0

[2148 rows x 5 columns]

In [10]:
def SIGNAL():
    return df.signal

In [11]:
#A new strategy needs to extend Strategy class and override its two abstract methods: init() and next().
#Method init() is invoked before the strategy is run. Within it, one ideally precomputes in efficient, 
#vectorized manner whatever indicators and signals the strategy depends on.
#Method next() is then iteratively called by the Backtest instance, once for each data point (data frame row), 
#simulating the incremental availability of each new full candlestick bar.

#Note, backtesting.py cannot make decisions / trades within candlesticks â€” any new orders are executed on the
#next candle's open (or the current candle's close if trade_on_close=True). 
#If you find yourself wishing to trade within candlesticks (e.g. daytrading), you instead need to begin 
#with more fine-grained (e.g. hourly) data.

In [38]:
from backtesting import Strategy

class MyCandlesStrat(Strategy):  
    def init(self):
        super().init()
        self.signal1 = self.I(SIGNAL)

    def next(self):
        super().next() 
        if self.signal1==2:
            sl1 = self.data.Close[-1] - self.data.Close * 0.02
            tp1 = self.data.Close[-1] + self.data.Close * 0.05
            self.buy(sl=sl1, tp=tp1)
        elif self.signal1==1:
            sl1 = self.data.Close[-1] + self.data.Close * 0.02
            tp1 = self.data.Close[-1] - self.data.Close * 0.05
            self.sell(sl=sl1, tp=tp1)

In [39]:
from backtesting import Backtest

bt = Backtest(df, MyCandlesStrat, cash=10_000, commission=.002)
stat = bt.run()
stat

Start                     2004-08-19 00:00:00
End                       2013-03-01 00:00:00
Duration                   3116 days 00:00:00
Exposure Time [%]                   17.458101
Equity Final [$]                  29817.19582
Equity Peak [$]                   29942.99582
Return [%]                         198.171958
Buy & Hold Return [%]              703.458242
Return (Ann.) [%]                    13.67467
Volatility (Ann.) [%]               12.152407
Sharpe Ratio                         1.125264
Sortino Ratio                        2.621459
Calmar Ratio                         1.397418
Max. Drawdown [%]                   -9.785672
Avg. Drawdown [%]                   -2.576178
Max. Drawdown Duration      464 days 00:00:00
Avg. Drawdown Duration       63 days 00:00:00
# Trades                                   59
Win Rate [%]                        57.627119
Best Trade [%]                      15.074952
Worst Trade [%]                     -3.816282
Avg. Trade [%]                       1.895582
Max. Trade Duration          28 days 00:00:00
Avg. Trade Duration           8 days 00:00:00
Profit Factor                        3.376059
Expectancy [%]                       1.970625
SQN                                  3.576099
_strategy                      MyCandlesStrat
_equity_curve                             ...
_trades                       Size  EntryB...
dtype: object

In [40]:
bt.plot()

Row(id='5646', ...)